.modal {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 16px;
    overflow: hidden;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
}